@media only screen and (max-width: 500px) {
    .firstSec {
      flex-direction: column;
      align-items: center;
    }
    .leftSec {
      width: 80%;
      text-align: center;
    }
    .rightSec {
      display: none;
    }
    .webImg {
      width: 50%;
    }
    .introSec {
      flex-direction: column;
      align-items: center;
    }
    .me {
      width: 80%;
      height: auto;
      margin: 20px 0;
    }
    .introSec > p {
      width: 80%;
      margin: 20px 0;
    }
    .introSec, .p2, input {
      animation: none;
    }
    .greet, .p1 {
      animation: none;
    }
    .greetImg {
      display: none;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .introSec > p {
      font-size: large;
    }
    .greet > p {
      font-size: large;
    }
    .project {
      margin-left: 5%;
      margin-right: 5%;
    }
    .p1 video, .p2 video {
      width: 50%px;
      padding: 20px;
    }
  }
  